.categories-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.categories-view h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.categories-books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  gap: 30px;
  margin-top: 60px;
}

.categories {
  background: #c3c3c3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
}

.categories ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories li {
  background: #ff9900;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.categories li:hover {
  background: #d66700;
  transform: translateY(-2px);
}

/* .category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
} */

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 40px;
}
.books-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  align-items: center;
}
